
ul{
	list-style-type:none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#question-body {
	font-family: sans-serif;
	background-color:black;
	/* max-width: 80vw; */
	margin: 0 auto;
}
#title-font{
	font-size:3vw;
	text-align:center;
	margin:0;
}
#title-div{
	background-color:rgb(144, 28, 28);
	width:100vmax;
	height:4vmax;
	color:white;
	box-shadow:3px 3px 3px black
}
.button-add-question{
	background-color:rgb(69, 69, 187);
	border-radius: 8px;
	border:0;
	width:9rem;
	height:47px;
	position:relative;
	margin-top:8px;
}
.button-text{
	color:white;
	font-family:sans-serif;
	font-size:large
}
#forumPost-container{
	background-color: #3f0606;
	width:62vmax;
	height:70vmax;
	position:relative;
	top:2rem;
	right:1rem;
	/* margin-top:3rem; */
	/* margin-left:1rem; */
	/* margin-bottom:3rem; */
	overflow:auto;
	box-shadow:3px 3px 3px black

}
/*for list of topics*/
#forumPost-title-div{
	background-color:rgb(164, 33, 33);
	width:62vw;
	height:7vmax;
}
/*when user clicks show replies*/
#topic-title-div{
	background-color:rgb(164, 33, 33);
	width:100rem;
	height:16rem;
	display:flex;
}
#topic-title-font{
	font-size:4vw;
	color:white;
	margin-top:0;
}
.topic-card{
	background-color:rgb(55,49,49);
	overflow:auto;
	color:white;
	margin:10px;
	box-shadow: 3px 3px 3px black;
	border-radius: 1rem;
	height:19vmax;
}
.topic-body{
	margin:2rem;
}
.topic-card-username{
	font:3pt;
	font-weight: bold;
	text-decoration: underline;
}
.reply-card{
	background-color:rgb(0, 0, 0);
	overflow:auto;
	color:white;
	margin:4px;
	border-radius: 1rem;
	width:100%;
}
.reply-list{
	/* margin:1px; */
	padding-left:20px;
}
.reply-list-item{
	margin:1rem;
}
.reply-body{
	margin:2rem;
}
.reply-username-font{
	text-decoration: underline;
	font-weight:bold;
	font-size:large;
	color:white;
	margin:20px;
}
.vl{
	border-left: 2px solid white;
	height: 100%;
	width:0%;
	padding:0;
}
.padding-1{
    padding-left:1px;
	padding-right:1px;

}
.searchbar-container{
	background-color:#3d3f45;
	width:15vmax;
	height:50vmax;
	margin:1rem;
}
.searchbar{
	background-color:white;
	border-color:black;
	width:15vmax;
	position:relative;
	top:0px;
	left:0px;
}
.focused-topic{
	background-color:rgb(164, 33, 33);
	width:62vmax;
	height:20vmax;
}
.focused-topic-title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10vw;
}

.chapter-dropdown-li{
	width:100%;
	height:3rem;
	background-color:rgb(133, 26, 26);
	margin:0;
	border-color:black;
	border-width:3px;
	display:block;
	box-shadow: 3px 3px 3px black;
}
.chapter-dropdown{
	background-color:rgb(58, 58, 200);
	border-radius: 8px;
	width:15rem;
	height:47px;
	position:relative;
	margin-top:8px;
}
.chapter-dropdown-font{
	position:relative;
	top:8px;
	color:white;
	font-size:1.7vw;
	display:block;

	justify-content: center;
}
.chapter-dropdown:hover{
	background-color:rgb(65, 65, 153);

}
.button-add-question:hover{
	background-color:rgb(65, 65, 153);

}
.chapter-dropdown .left-icon,
.chapter-dropdown .right-icon{
	position:relative;
	display:inline-block;
	width:4px;
	height:1px;
	background:white;
	border-radius:10px;
}
/*----for dropdown menu transition---*/
.slide{
	clear:both;
	width:100%;
	height:0%;
	overflow:hidden;
	text-align: center;
	transition: height 0.7s;
	color:white;
	justify-content: center;

}
  
.slide li{padding : 0px;margin:0}
#touch {
	position: absolute; 
	opacity: 0;
	height: 0px;
}    
#touch:hover+ .slide {
	height:600px;
} 
.slide:hover{
	height:600px;
}
.btn-transparent{
	background:transparent;
}
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	cursor : pointer;
  
}
  
.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
/*----end---*/
.button-container{
	display:grid;
	grid-template-columns:20% 20% 20%;
	grid-column-gap:40px;
}
.vote-container{
	position:relative;
	width:100%;
	height:100%;
	display:grid;
	/* grid-template-columns: 1fr 1fr 6fr; */
	grid-template-rows:50% 50%;
	grid-row-gap:10px;
}
.topic-card-container{
	position:relative;
	display:grid;
	grid-template-columns:2fr 9fr;
	grid-template-rows:4fr 1fr;
}
.l-header {
	display: flex;

	box-sizing: border-box;
	width: 100%;
	min-height: 5em;
	padding: 1em;
	align-content: space-between;
	align-items: stretch;
	justify-content: space-between;

}

.l-article {
	margin: 3em 2em;
}

.l-title {
	flex-grow: 1;
}

img.logo {
	width: 100%;
	min-width: 76px;
	height: auto;
}