.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.upvote-button{
	position:relative;
	width: 0; 
	height: 0; 
	border-top:0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	background-color: transparent;
	border-bottom: 16px solid green;
	bottom:1rem;
	left:34rem;
	margin-left:5px;
	/* margin-left: 40rem; */
}
.downvote-button{
	position:relative;
	width: 0; 
	height: 0; 
	border-bottom:0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	background-color: transparent;
	border-top: 16px solid red;
	top: 0.2rem;
	left:34rem;
	margin-left:5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#question-body {
	font-family: sans-serif;
	background-color:black;
	/* max-width: 80vw; */

	margin: 0 auto;
}
#title-font{
	font-size:30pt;
	text-align:center;
	margin:0;
}
#title-div{
	background-color:rgb(144, 28, 28);
	width:100vmax;
	height:4vmax;
	color:white;
}
.button-add-question{
	background-color:rgb(64, 64, 196);
	width:9rem;
	height:3rem;
	margin-left:2rem;
	margin-top:1rem;
	border:none;
}
.button-text{
	color:white;
	font-family:sans-serif;
}
#questions-container{
	background-color: #3f0606;
	width:50rem;
	height:80rem;
	margin-top:3rem;
	margin-left:10rem;
	margin-bottom:3rem;
	overflow:auto;
}
/*for list of topics*/
#forumPost-title-div{
	background-color:rgb(164, 33, 33);
	width:100rem;
	height:5rem;
}
/*when user clicks show replies*/
#topic-title-div{
	background-color:rgb(164, 33, 33);
	width:100rem;
	height:16rem;
}
#topic-title-font{
	font-size:40pt;
	color:white;
	margin-top:0;
}
.topic-card{
	background-color:rgb(70, 61, 61);
	overflow:auto;
	color:white;
	margin:10px;
}
.topic-body{
	margin:2rem;
}
.topic-card-username{
	font:3pt;
	font-weight: bold;
	text-decoration: underline;
}
.reply-card{
	background-color:rgb(0, 0, 0);
	overflow:auto;
	color:white;
	margin:10px;
}
.reply-body{
	margin:2rem;
}
.l-header {
	display: flex;

	box-sizing: border-box;
	width: 100%;
	min-height: 5em;
	padding: 1em;

	align-content: space-between;
	align-items: stretch;
	justify-content: space-between;

	/* h1 {
		box-sizing: border-box;
		padding-left: 1.5em;
		padding-right: 1.5em;

	} */
}

.l-article {
	margin: 3em 2em;
}

.l-title {
	flex-grow: 1;
}

img.logo {
	width: 100%;
	min-width: 76px;
	height: auto;
}