
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.icon-bar{
	height:1px;
	width:5px;
	color:white;
	background-color:transparent;
	border:0;
	margin:5px;
}
#question-body {
	font-family: sans-serif;
	background-color:black;
	/* max-width: 80vw; */
	margin: 0 auto;
}
.title-text-container{
	display:grid;
	grid-template-columns:85% 15%;
}
.title-font{
	font-size:6vh;
	/* text-align:center; */
	padding-left:50%;
	margin:0;
}
.title-div{
	background-color:rgb(144, 28, 28);
	/* width:95vw; */
	height:98%;
	color:white;
	box-shadow:3px 3px 3px black
}
.username-title{
	background-color:rgb(0, 0, 0);
	/* width:30vw; */
	height:100%;
	left:96vw;
	text-align:center;
}
.username-title-font{
	color:white;
	font-size:90%;
	text-decoration: underline;
}
.button-add-question{
	background-color:rgb(20, 90, 230);
	border-radius: 4px;
	border:0;
	width:8vw;
	height:4.5vh;
	position:relative;
	margin-top:8px;
}
.button-add-question:hover{
	background-color:rgb(75, 75, 218);
}
.button-text{
	color:white;
	font-family:sans-serif;
	font-size:1vmax;
}
.button-delete{
	background-color:rgb(205, 10,10);
	border-radius: 8px;
	border:0;
	width:8vw;
	height:4.5vh;
	position:relative;
	margin-top:8px;
}
.button-delete:hover{
	background-color:rgb(207, 27, 27);
}
.forumPost-container{
	/* width:87%; */
	height:100%;
	position:relative;
	right:1rem;
	/* margin-top:3rem; */
	/* margin-bottom:3rem; */
	/* overflow:auto; */
	box-shadow:3px 3px 3px black;
	overflow:infinite;
	background-color: #3f0606;

}
/*for list of topics*/
.forumPost-title-div{
	background-color:rgb(164, 33, 33);
	width:100%;
	height:100%;
}
#container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
/*when user clicks show replies*/
.topic-title-div{
	background-color:rgb(164, 33, 33);
	width:100%;
	height:16rem;
	display:flex;
	box-shadow:2px 2px black;
}
.topic-title-font{
	font-size:4vw;
	color:white;
	margin-top:0;
}
.topic-card{
	background-color:rgb(55,49,49);
	color:white;
	display:grid;
	margin:10px;
	box-shadow: 3px 3px 3px black;
	width:91.8%;
	height:10%;
	/* overflow-y:infinite; */
}
.topic-card-selectMode{
	background-color:rgb(55,49,49);
	color:rgb(255,255,255);
	display:grid;
	margin:10px;
	box-shadow: 3px 3px 3px black;
	width:91.8%;
	overflow-y:infinite;
	animation: glow 0.4s infinite alternate;
  }
  
  @keyframes glow {
	from {
		/* background-color:rgb(55,49,49); */
		background-color:rgb(15,19,19);
	}
	to {
		/* background-color:rgb(105, 99, 99); */
		background-color:rgb(55,49,49);

	}
  }

.topic-card-selected{
	background-color:black;
	color:white;
	display:grid;
	margin:10px;
	box-shadow: 3px 3px 3px black;
	width:91.8%;
	overflow-y:infinite;
}
.topic-card-see-thread-button{
	background-color:rgb(174, 25, 25);
	border:0;
	width:90%;
	height:100%;
	position:relative;
}
.topic-card-see-thread-button:hover{
	background-color:rgb(175, 48, 48);
}
.topic-card-see-thread-font{
	color:white;
	font-size:80%;
	padding:0;
}
.topic-body{
	margin:30px;
	font-size:1.7vh;
}
.topic-card-username{
	font-weight: bold;
	text-decoration: underline;
	font:1.7vh;
}
.vl{
	border-left: 2px solid white;
	height: 100%;
	width:0%;
	padding:0;
}
.padding-1{
    padding-left:1px;
	padding-right:1px;

}

/*----for dropdown menu transition---*/
 .slide{
	clear:both;
	width:100%;
	height:0%;
	overflow:hidden;
	text-align: center;
	transition: height 0.3s;
	color:white;
	justify-content: center;
	list-style-type:none;
	/* pointer-events: none; */
}
  
#touch {
	opacity: 1;
	height: 0px;
	/* pointer-events:none; */
}    
#touch:focus +.slide {
	height:600px;
	pointer-events:none;

}
.slide:hover{
	height:600px;
} 
.btn-transparent{
	background:transparent;
}
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	cursor : pointer;
  
}
.vote-button-container{
	display:grid;
	grid-template-rows:30% 13% 30%;
}
.upvote-button {
	width: 0; 
	height: 0; 
	border-left: 0.9vw solid transparent;
	border-right: 0.9vw solid transparent;
	border-bottom:1.35vw solid green;
}
.downvote-button {
	width: 0; 
	height: 0; 
	border-left: 0.9vw solid transparent;
	border-right: 0.9vw solid transparent;
	border-top: 1.35vw solid #f00;
}
.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
/*----end---*/
.button-container{
	display:grid;
	grid-template-columns:15% 15% 50% 15%;
	/* grid-column-gap:40px; */
	margin-left:4%;
}
.vote-container{
	position:relative;
	width:100%;
	height:100%;
	display:grid;
	/* grid-template-columns: 1fr 1fr 6fr; */
	grid-template-columns:40% 40%;
	grid-column-gap:10px;
}
.topic-card-container{
	position:relative;
	display:grid;
	height:100%;
	width:100%;
	/* grid-template-columns:2fr 9fr 2fr; */
	grid-template-rows:73% 27%;
	overflow:infinite;
	
}
.topic-card-select-box:after{
	position:relative;
	top:50%;
	left:5px;
	width:20px;
	height:20px;
	clip-path: circle(46% at 50% 50%); 
	border-top: none;
	border-right: none;
	border:solid 3px red;
	background:rgba(0,0,0,0);
}
.topic-card-select-box{
	position:relative;
	top:50%;
	left:5px;
	width:20px;
	height:20px;
	clip-path: circle(46% at 50% 50%); 
}
.topic-card-text-container{
	display:grid;
	position:relative;
	overflow:infinite;
	grid-template-columns:10px 93% 5%;
}
.topic-card-button-container{
	position:relative;
	display:grid;
	grid-template-columns:12% 12% 76%;
	overflow:infinite;
}
.topic-card-tags-container{
	/* width:100%;
	height:100%; */
	display:flex;
	background-color:rgb(0,0,0);
	color:white;
}
.topic-card-tag{
	/* width:10%;
	height:45%; */
	border-radius:2px;
	background-color:rgb(20, 90, 230);
	/* margin:4px; */
	padding:0;
	display:flex;
	flex-wrap:wrap;
	margin:9px;
	justify-content: center;
}
.topic-card-tag-font{
	color:white;
	font-size:40%;
	/* display:flex; */
	justify-content: center;
}
.l-header {
	display: flex;

	box-sizing: border-box;
	width: 100%;
	min-height: 5em;
	padding: 1em;
	align-content: space-between;
	align-items: stretch;
	justify-content: space-between;
}

.l-article {
	margin: 3em 2em;
}

.l-title {
	flex-grow: 1;
}

img.logo {
	width: 100%;
	min-width: 76px;
	height: auto;
}