

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.icon-bar{
	height:1px;
	width:5px;
	color:white;
	background-color:transparent;
	border:0;
	margin:5px;
}
#question-body {
	font-family: sans-serif;
	background-color:black;
	/* max-width: 80vw; */
	margin: 0 auto;
}
#title-font{
	font-size:3vw;
	text-align:center;
	margin:0;
}
#title-div{
	background-color:rgb(144, 28, 28);
	width:100%;
	height:98%;
	color:white;
	box-shadow:3px 3px 3px black
}
.button-add-question{
	background-color:rgb(20, 90, 230);
	border-radius: 8px;
	border:0;
	width:9rem;
	height:40px;
	position:relative;
	margin-top:8px;
}
.button-text{
	color:white;
	font-family:sans-serif;
	font-size:large
}
#forumPost-container{
	background-color: #3f0606;
	width:87%;
	height:100%;
	position:relative;
	right:1rem;
	/* margin-top:3rem; */
	/* margin-bottom:3rem; */
	overflow:auto;
	box-shadow:3px 3px 3px black

}
/*for list of topics*/
#forumPost-title-div{
	background-color:rgb(164, 33, 33);
	width:100%;
	height:100%;
}
#container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
/*when user clicks show replies*/
#topic-title-div{
	background-color:rgb(164, 33, 33);
	width:100%;
	height:16rem;
	display:flex;
	box-shadow:2px 2px black;
}
#topic-title-font{
	font-size:4vw;
	color:white;
	margin-top:0;
}
.topic-card{
	background-color:rgb(55,49,49);
	overflow:auto;
	color:white;
	margin:10px;
	box-shadow: 3px 3px 3px black;
	border-radius: 1rem;
	height:50%;
	overflow:hidden;
}
.topic-body{
	margin:2rem;
}
.topic-card-username{
	font:3pt;
	font-weight: bold;
	text-decoration: underline;
}
.response-card{
	background-color:rgb(0, 0, 0);
	overflow:auto;
	color:white;
	/* margin:4px; */
	width:100%;
}
.response-list{
	/* margin:1px; */
	padding-left:20px;
}
.response-list-item{
	margin:1rem;
}
.response-body{
	margin:2rem;
	color:white;
}
.response-username-font{
	text-decoration: underline;
	font-weight:bold;
	font-size:large;
	color:white;
	margin:20px;
}
.vl{
	border-left: 2px solid white;
	height: 100%;
	width:0%;
	padding:0;
}
.padding-1{
    padding-left:1px;
	padding-right:1px;

}
.searchbar-container{
	background-color:#3d3f45;
	width:100%;
	/* height:50vmax; */
}
.searchbar{
	background-color:white;
	border-color:black;
	width:142%;
	height:7%;
	position:relative;

}
.focused-topic{
	background-color:rgb(164, 33, 33);
	width:100%;
	height:30%;
	list-style-type: none;
}
.focused-topic-title{
	font:Georgia;
	font-size:20vm;
	color:white;
	font-weight:bold;
	padding-left:30px;
}
.foocused-topic-card-container{
	background-color:rgb(0, 0, 0);
	overflow:auto;
	color:white;
	left:1.4vmax;
	border-radius: 1rem;
	width:90%;
	height:70%;
	position:relative;
	display:grid;
	grid-template-columns:2fr 9fr;
	grid-template-rows:70% 20%;
	
}
.chapter-dropdown-li{
	width:100%;
	height:3rem;
	background-color:rgb(133, 26, 26);
	margin:0;
	border-color:black;
	border-width:3px;
	z-index:1;
	box-shadow: 3px 3px 3px black;
}
.chapter-dropdown{
	background-color:rgb(20, 90, 230);
	border-radius: 8px;
	width:15rem;
	height:40px;
	position:relative;
	margin-top:8px;
}
.chapter-dropdown-font{
	position:relative;
	color:white;
	font-size:1.7vw;
	display:block;

	justify-content: center;
}
.chapter-dropdown:hover{
	background-color:rgb(75, 75, 218);
}
.button-add-question:hover{
	background-color:rgb(75, 75, 218);
}
.chapter-dropdown .left-icon,
.chapter-dropdown .right-icon{
	position:relative;
	display:inline-block;
	width:4px;
	height:1px;
	background:white;
	border-radius:10px;
}
/*----for dropdown menu transition---*/
.slide{
	clear:both;
	width:100%;
	height:0%;
	overflow:hidden;
	text-align: center;
	transition: height 0.3s;
	color:white;
	justify-content: center;
	list-style-type:none;
	/* pointer-events: none; */
}
  
#touch {
	position: absolute; 
	opacity: 0;
	height: 0px;
	/* pointer-events:none; */
}    
#touch:focus +.slide {
	height:600px;
	pointer-events:none;
} 
/* #touch:focus-within+.slide{
	height:0px;
} */
.slide:hover{
	height:600px;
}
.btn-transparent{
	background:transparent;
}
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	cursor : pointer;
  
}
  
.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
/*----end---*/
.button-container{
	display:grid;
	grid-template-columns:20% 20% 20%;
	grid-column-gap:40px;
	margin-left:4%;
}
.vote-container{
	position:relative;
	width:100%;
	height:100%;
	display:grid;
	/* grid-template-columns: 1fr 1fr 6fr; */
	grid-template-columns:40% 40%;
	grid-column-gap:10px;
}
.topic-card-container{
	position:relative;
	display:grid;
	height:100%;
	/* grid-template-columns:2fr 9fr 2fr; */
	grid-template-rows:75% 15%;
	
}
.topic-card-text-container{
	position:relative;
	display:grid;
}
.topic-card-button-container{
	position:relative;
	display:grid;
	grid-template-columns:2fr 2fr 8fr 1fr 1fr;
}
.response-card-button-container{
	position:relative;
	display:grid;
	grid-template-columns:40% 40%;
	grid-row-gap:30px;
	margin:0;
}

.l-header {
	display: flex;

	box-sizing: border-box;
	width: 100%;
	min-height: 5em;
	padding: 1em;
	align-content: space-between;
	align-items: stretch;
	justify-content: space-between;

}

.l-article {
	margin: 3em 2em;
}

.l-title {
	flex-grow: 1;
}

img.logo {
	width: 100%;
	min-width: 76px;
	height: auto;
}