
.response-card{
	background-color:rgb(20, 20, 20);
	overflow:infinite;
	color:white;
	width:85%;
}
.response-list-div{
	height:20vh;
	width:100%;
}
.response-list{
	/* margin:1px; */
	padding-left:20px;
	list-style-type:none;
	width:100%;
}
.response-list-item{
	margin:1rem;
}
.response-body{
	margin:2rem;
	font-size:2.5vh;
	color:white;
}
.response-username-font{
	text-decoration: underline;
	font-weight:bold;
	font-size:1.6vw;
	color:white;
	margin:20px;
}